.container {
    width: 80%;
    background-color: var(--secondary);
    margin: 50px auto;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.container .card {
    box-sizing: border-box;
    width: 320px;
    height: 180px;
    background-color: var(--main);
    border-radius: 8px;
    /* padding: 20px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 8px -1px #000;
}
#most-paid-price {
    text-decoration: underline;
}
h1 span {
    color: var(--green);
}

.cash-percent {
    width: 50px;
    height: 50px;
    transform: translateY(-8px);
    border-radius: 50%;
    /* box-shadow: 0 0 6px 0px #000; */
    background-color: var(--main);
    border: solid 3px var(--green);
}
.cash-percent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--green);
}