@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
::selection {
    background-color: var(--green);
    color: var(--main);
}
:root {
    --dark-green: #243119;
    --green: #629460;
    --olivine: #96be8c;
    --light-green: #aceca1;
    --tea: #c9f2c7;
    --main: #fff;
    --secondary: #ccc;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--dark-green);
    border-radius: 10px;
}  
::-webkit-scrollbar-thumb:hover {
    background-color: var(--green);
}

html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
input {
    outline: none;
}

.btn {
    padding: 10px 30px;
    color: var(--main);
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--green);
    transition: all .2s;
}
.btn:hover {
    background-color: var(--olivine);
    color: #222;
}
.btn-outline {
    padding: 10px 30px;
    border: solid 2px var(--green);
    color: var(--green);
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
}
.btn-outline::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--green);
    z-index: -1;
    transition: all .3s;
}
.btn-outline:hover {
    color: var(--main);
}
.btn-outline:hover::before {
    width: 100%;
}

/* removing arrows from input numbers */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

