nav {
    width: 100%;
    padding: 5px;
    background-color: var(--dark-green);
    color: var(--main);
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1500;
    position: relative;
}
nav i {
    font-size: 25px;
    cursor: pointer;
}
.menu {
    box-sizing: border-box;
    width: 100dvw;
    height: 100dvh;
    padding: 20px;
    /* background-color: #000000f6; */
    background-color: #243119f6;
    position: fixed;
    top: 0;
    right: -110%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all .5s;
}
.menu a {
    width: fit-content;
    text-decoration: none;
    color: #fff;
    text-align: right;
    margin-right: 20px;
    font-size: 20px;
    position: relative;
    transition: all .2s;
}
.menu a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: #fff;
    transition: width .2s;
}
.menu a:hover::before {
    width: 100%;
}
.show-menu {
    right: 0;
}
label {
    cursor: text;
    margin-right: 5px;
}
input[type="number"] {
    width: 60px;
}
.start-cash {
    box-sizing: border-box;
    width: 40%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 4px;
    background-color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.start-cash::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 100%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary);
    z-index: -1;
    opacity: .8;
    border-radius: 4px;
}
.start-cash::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary);
    z-index: -2;
    opacity: .6;
    border-radius: 4px;
}

.purchases {
    box-sizing: border-box;
    width: 80%;
    border-radius: 4px;
    background-color: var(--secondary);
    margin: 80px auto 20px;
    padding: 20px;
}
.purchases h1, .purchases h2, .purchases h3, .purchases h4, .purchases h5, .purchases h6 {
    text-align: center;
}
.purchases ul {
    margin: 100px auto;
    width: 80%;
    list-style: none;
}
.purchases ul li {
    background-color: var(--main);
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.add-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    font-size: 25px;
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    transition: all .4s;
}
.add-msg {
    display: none;
    font-weight: 500;
    font-size: 20px;
}
.add-btn:hover {
    width: 200px;
    /* height: fit-content; */
}
.add-btn:hover .add-msg {
    display: block;
}

.drop-menu {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 80dvw;
    background-color: var(--main);
    /* background-color: #ddd; */
    padding: 20px;
    height: 60dvh;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px -2px #000;
    transition: all .3s;
}
.show-drop-menu {
    bottom: 0;
}
.close-drop-menu {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    cursor: pointer;
}