nav {
    width: 100%;
    padding: 5px;
    background-color: var(--dark-green);
    color: var(--main);
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1500;
    position: relative;
}
nav i {
    font-size: 25px;
    cursor: pointer;
}
.menu {
    box-sizing: border-box;
    width: 100dvw;
    height: 100dvh;
    padding: 20px;
    background-color: #000000f6;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all .2s;
}
.menu a {
    width: fit-content;
    text-decoration: none;
    color: #fff;
    text-align: right;
    margin-right: 20px;
    font-size: 20px;
    position: relative;
    transition: all .2s;
}
.menu a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: #fff;
    transition: width .2s;
}
.menu a:hover::before {
    width: 100%;
}
.show-menu {
    right: 0;
}
label {
    cursor: text;
    margin-right: 5px;
}
input[type="number"] {
    width: 60px;
}
.start-cash {
    box-sizing: border-box;
    width: 40%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 4px;
    background-color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.start-cash::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 100%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary);
    z-index: -1;
    opacity: .8;
    border-radius: 4px;
}
.start-cash::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary);
    z-index: -2;
    opacity: .6;
    border-radius: 4px;
}

.purchases {
    box-sizing: border-box;
    width: 80%;
    border-radius: 4px;
    background-color: var(--secondary);
    margin: 80px auto 0;
    padding: 20px;
}
.purchases h1, .purchases h2, .purchases h3, .purchases h4, .purchases h5, .purchases h6 {
    text-align: center;
}